@import 'assets\css\reset.css';

:root {
    --mountain: rgb(28, 127, 255);
    --background: rgb(61, 61, 61);
}

#mtn-div {
    position: relative;
    padding-top: 5vw;
    background-image: linear-gradient(#8cbeff, 40%, #dcdcff);
    height: 20.14vw;
}

#title {
    font-size: 4vw;
	font-family: "Verdana";
	font-variant: small-caps;

    color: #dcdcff;

    position: absolute;
    top: 78%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}

#mountain {
    width: 100vw;
    height: max-content;

    /*color: #1a1a1a;*/
}

#main {
    height: 5000px;
    margin-left: 18rem;
    margin-right: 18rem;
    background-color: var(--mountain);
    color: #bababa;
}

body {
	margin: 0;
    margin-top: 0;
	background-color: var(--mountain);
}
