@import 'assets\css\reset.css';

:root {
    --mountain: rgb(28, 127, 255);
    --background: rgb(61, 61, 61);
    --main-width: 72vw;
    
}

body {
	margin: 0;
	background-color: var(--mountain);
}



#mtn-div {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    max-width: 100%;
    height: 80vh;
    background-image: linear-gradient(#8cbeff, 40%, #dcdcff);
}

#mtn-div svg {
    width: 100%;
    height: auto;

    /* remove hairline gap between #main and mountain svg */
    margin-bottom: -0.5vh;
}

#mtn-div h1 {
    position: absolute;
    top: 77vh;
    left: 51vw;
    transform: translate(-50%, -100%);

    font-size: 4vw;
	font-family: "Verdana";
	font-variant: small-caps;
    font-weight: normal;
    color: #dcdcff;
}






#main {
    padding-top: 40vh;
    --two-pad: calc(100vw - var(--main-width));
    --pad: calc(var(--two-pad) / 2);
    padding-left: var(--pad);
    padding-right: var(--pad);
    padding-bottom: 4vh;
    background-color: var(--mountain);

    
    color:  #bababa;
}
#main h1 {
    color: #8cbeff;
    padding-left: 5vw;
    font-size: 3.5rem;
    font-style: italic;
}

#main h2 {
    color: #8cbeff;
    text-align: center;
    font-size: 2.5rem;
}

#main p {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1.25rem;
    text-align: justify;
    font-family: Arial;
}
#main .note:before {
    content: "Note: ";
}
#main .note {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 3rem;

    font-size: 1.2rem;
    font-style: italic;
}

#main a {
    color: #8cbeff;
    font-style: italic;
}

#schedule {
    display: flex;
}
#online {
    width: calc(var(--main-width) / 2);
    margin: auto;
}
#in-person {
    width: calc(var(--main-width) / 3.75);
    margin: auto;
}
#schedule th {
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
}
#schedule td {
    font-family: arial;
    font-size: 1rem;
    text-align: center;
}

#links {
    display: flex;
}

#links img {
    flex: 50%;
    width: 25%;
    height: 25%;
    padding-left: 10vw;
    padding-right: 10vw;

    cursor: pointer;
    padding-bottom: 20vh;
}

#puzzle {
    width: 35vw;
    height: calc(35vw + 50px);
    
    position: relative;
    transform: translate(-50%);
    left: 36vw;
}


#main-to-footer {
    background-image: linear-gradient(var(--mountain), rgb(46, 46, 46));
    height: 10rem;
}


footer {
    height: 3rem;
    border-top: 4px ridge rgb(30, 30, 30);
    background-color: rgb(40, 40, 40);

    padding-left: 10vw;
    padding-right: 10vw;
}

footer p {
    font-size: 1rem;
    float: left;
    width: 50%;
    height: 0;
    text-align: center;

    color: #8d8d8d;
    font-family: Arial;
    font-style: italic;
}

footer a {
    color: #8d8d8d;
    font-family: Arial;
    font-style: italic;
    text-decoration: none;
}

@media (orientation: portrait) {
    #mtn-div { height: 90vh; }
    #mtn-div h1 {
        width: 100vw;
        text-align: center;
        top: 40vh;
        left: 50vw;
        color: var(--mountain);

        font-size: 10vw;
	}

    #main {
        padding-left: 10vw;
        padding-right: 10vw;
    }
    #main h1 { font-size: 3rem; }
    #main h2 { font-size: 2rem; }

    #schedule { display: block; }
    #online { width: calc(var(--mountain-width) / 1.25); padding-bottom: 5rem;}
    #in-person { width: calc(var(--mountain-width) / 1.1); }

    #puzzle {
        width: 65vw;
        height: calc(65vw + 50px);
        left: 40vw;
    }
}
@supports (-webkit-backdrop-filter: blur(1px)) {
    #mtn-div svg {
        height: intrinsic;
    }
}